@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

/* @font-face {
  font-family: 'M PLUS Rounded 1c Regular';
  src: url('assets/MPLUSRounded1c-Regular.ttf') format('truetype');
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 120px 1fr 1fr;
  gap: 40px;
  padding: 24px;
  background-image: url("/assets/websiteClouds.png");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: url("assets/cursor.svg"), auto;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.logo img {
  width: 330px;
  height: 70px;
}

.card-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
}

.card-2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px;
}

.card-3 {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.nav-button {
  padding: 20px 20px;
  border-radius: 18px;
  font-family: "Rounded Mplus 1c";
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 37px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  flex-grow: 1;
  max-height: 100px;
}

.nav-button-home {
  background: #7ce24c;
  box-shadow: 0px 6px 0px 1px #73b74b;
}

.nav-button-home:hover {
  background-color: #73b74b;
}

.nav-button-games {
  background: #fd94de;
  box-shadow: 0px 6px 0px 1px #d760b4;
}

.nav-button-games:hover {
  background-color: #d760b4;
}

.nav-button-avatar-shop {
  background: #ff434d;
  box-shadow: 0px 6px 0px 1px #c81c25;
}

.nav-button-avatar-shop:hover {
  background-color: #c81c25;
}

.nav-button-about-us {
  background: #75b7ff;
  box-shadow: 0px 6px 0px 1px #429af7;
}

.nav-button-about-us:hover {
  background-color: #429af7;
}

.game-button {
  padding: 10px 10px;
  border-radius: 24px;
  font-family: "Rounded Mplus 1c";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 37px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  flex-grow: 1;
  flex-direction: column;
  height: 160px;
}

.game-button-addition {
  background: #7ce24c;
  box-shadow: 0px 6px 0px 1px #73b74b;
  gap: 10px;
}

.game-button-addition:hover {
  background-color: #73b74b;
}

.game-button-subtraction {
  background: #75b7ff;
  box-shadow: 0px 6px 0px 1px #429af7;
  gap: 40px;
}

.game-button-subtraction:hover {
  background-color: #429af7;
}

.game-button-multiplication {
  background: #fd94de;
  box-shadow: 0px 6px 0px 1px #d760b4;
  gap: 15px;
}

.game-button-multiplication:hover {
  background-color: #d760b4;
}

.game-button-division {
  background: #b368fe;
  box-shadow: 0px 6px 0px 1px #8737ec;
  gap: 10px;
}

.game-button-division:hover {
  background: #8737ec;
}

.game-button-dice {
  background: #fa8f43;
  box-shadow: 0px 6px 0px 1px #ff791b;
  gap: 10px;
}

.game-button-dice:hover {
  background: #ff791b;
}

.title-button {
  padding: 20px 10px;
  gap: 20px;
  border-radius: 24px;
  font-family: "Rounded Mplus 1c";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  flex-grow: 1;
  flex-direction: column;
  background: #b368fe;
  box-shadow: 0px 6px 0px 1px #8737ec;
  word-wrap: break-word;
}

.game-card-3 {
  grid-column: 1 / 3;
  grid-row: 2 / 4; /* Updated to span two rows */
  width: 100%;
  border-radius: 5px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.about-us-card-3 {
  grid-column: 1 / 3;
  grid-row: 2 / 4; /* Updated to span two rows */
  width: 100%;
  border-radius: 5px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

#info-container {
  grid-column: 1 / 4; /* Updated to span all columns */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  outline: black 2px solid;
  border-radius: 5px;
  font-family: "Rounded Mplus 1c";
  font-size: 35px;
  line-height: 1.5;
  text-align: center;
  width: 100%;
  backdrop-filter: blur(16px);
}

#modes-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-column: 1/2;
  font-family: "Rounded Mplus 1c";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-column: 2/3;
}

.restart-container {
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.addition-button {
  background: #7ce24c;
  box-shadow: 0px 6px 0px 1px #73b74b;
  gap: 10px;
}

.subtraction-button {
  background: #75b7ff;
  box-shadow: 0px 6px 0px 1px #429af7;
  gap: 40px;
}

.multiplication-button {
  background: #fd94de;
  box-shadow: 0px 6px 0px 1px #d760b4;
  gap: 15px;
}

.division-button {
  background: #b368fe;
  box-shadow: 0px 6px 0px 1px #8737ec;
  gap: 10px;
}

.addition-button:hover {
  background-color: #73b74b;
}

.subtraction-button:hover {
  background-color: #429af7;
}

.multiplication-button:hover {
  background-color: #d760b4;
}

.division-button:hover {
  background-color: #8543c8;
}

#problem {
  font-family: "Rounded Mplus 1c";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#options button {
  margin: 10px;
  padding: 10px;
  background: #ff434d;
  box-shadow: 0px 6px 0px 1px #c81c25;
  color: white;
  border: none;
  /* cursor: pointer; */
  border-radius: 5px;
  font-family: "Rounded Mplus 1c";
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
}

#options button:hover {
  background-color: #c81c25;
}

#result {
  font-family: "Rounded Mplus 1c";
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  margin-bottom: 20px;
}

#score {
  font-family: "Rounded Mplus 1c";
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  margin-bottom: 20px;
}

.restart-button {
  margin: 5px;
  padding: 10px;
  font-family: "Rounded Mplus 1c";
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  background: #ff434d;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 6px 0px 1px #c81c25;
}

.restart-button:hover {
  background-color: #c81c25;
}

.problem-container h2,
.options-container h2,
.result-container h2,
.score-container h2 {
  font-family: "Rounded Mplus 1c";
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  margin-bottom: 10px;
}

.mode-button {
  margin: 5px;
  padding: 10px;
  font-family: "Rounded Mplus 1c";
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#modes-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#modes-container li {
  margin-bottom: 10px;
}

#agree-button {
  margin: 5px;
  padding: 10px;
  font-family: "Rounded Mplus 1c";
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  color: white;
  border: none;
  /* cursor: pointer; */
  border-radius: 5px;
  background: #7ce24c;
  box-shadow: 0px 6px 0px 1px #73b74b;
  gap: 10px;
}

#agree-button:hover {
  background-color: #73b74b;
}

#about-us-container {
  grid-column: 1 / 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
  outline: black 2px solid;
  border-radius: 5px;
  font-family: "Rounded Mplus 1c";
  font-size: 25px;
  line-height: 1.5;
  text-align: center;
  width: 100%;
  color: black;
  backdrop-filter: blur(16px);
}

.content-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  gap: 10px;
  width: 100%;
  max-width: 1200px;
}

.coins-container,
.current-avatar-container {
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  font-family: "Rounded Mplus 1c";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
}

#avatars-label {
  font-family: "Rounded Mplus 1c";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 16px;
}

#avatars {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.avatar-button {
  padding: 10px 10px;
  border-radius: 24px;
  font-family: "Rounded Mplus 1c";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  flex-grow: 1;
  flex-direction: column;
  border: none;
}

.avatar-button-style {
  background: #7ce24c;
  box-shadow: 0px 6px 0px 1px #73b74b;
  gap: 10px;
}

.avatar-button-style:hover {
  background-color: #73b74b;
}

#alert-message {
  font-family: "Rounded Mplus 1c";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  color: #c81c25;
}

/* For screens smaller than 768px */
@media (max-width: 767px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: auto 80px 1fr;
  }

  .content-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .card-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
  }

  .card-2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    width: 100%;
    height: auto;
  }

  .game-card-3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .avatar-card-3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-us-card-3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #about-us-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%;
    padding: 10px;
    outline: black 2px solid;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
  }

  .nav-button {
    padding: 10px 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    max-height: 80px;
  }
  .logo img {
    width: 100%;
    height: auto;
  }
  .game-button {
    width: 100%;
  }
  .title-button {
    width: 100%;
  }
}

/* For screens larger than 768px */
@media (min-width: 768px) {
  .title-button {
    font-size: 50px;
    padding: 20px 10px;
  }

  .game-button {
    font-size: 40px;
    padding: 10px;
    height: 160px;
  }

  .addition-svg,
  .subtraction-svg,
  .division-svg,
  .dice-svg {
    height: 100px;
    width: 100px;
  }

  body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 130px 1fr 1fr;
    gap: 40px;
    padding: 24px;
    background-image: url("/assets/websiteClouds.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .content-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .coins-container,
  .current-avatar-container {
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    font-family: "Rounded Mplus 1c";
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
  }

  #avatars-label {
    font-family: "Rounded Mplus 1c";
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 16px;
  }

  #avatars {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  .avatar-button {
    padding: 10px 10px;
    border-radius: 24px;
    font-family: "Rounded Mplus 1c";
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center; /* Add this line */
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    flex-grow: 1;
    flex-direction: column;
    height: 160px;
  }

  .avatar-button-style {
    background: #7ce24c;
    box-shadow: 0px 6px 0px 1px #73b74b;
    gap: 10px;
  }

  .avatar-button-style:hover {
    background-color: #73b74b;
  }

  .card-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
  }

  .card-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px;
  }

  .logo img {
    width: 330px;
    height: 70px;
  }

  .game-card-3 {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    width: 100%;
    border-radius: 5px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .avatar-card-3 {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    width: 100%;
    border-radius: 5px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .about-us-card-3 {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    width: 100%;
    border-radius: 5px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .card-3 {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    width: 100%;
    border-radius: 5px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .nav-button {
    padding: 20px 20px;
    border-radius: 18px;
    font-weight: 800;
    font-size: 35px;
    line-height: 37px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    flex-grow: 1;
    max-height: 100px;
  }

  #about-us-container {
    grid-column: 1 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    outline: black 2px solid;
    border-radius: 5px;
    font-family: "Rounded Mplus 1c";
    font-size: 25px;
    line-height: 1.5;
    text-align: center;
    width: 100%;
    color: black;
    backdrop-filter: blur(16px);
  }

  .nav-button-home {
    background: #7ce24c;
    box-shadow: 0px 6px 0px 1px #73b74b;
  }

  .nav-button-games {
    background: #fd94de;
    box-shadow: 0px 6px 0px 1px #d760b4;
  }

  .nav-button-about-us {
    background: #75b7ff;
    box-shadow: 0px 6px 0px 1px #429af7;
  }
}

/* repeat background when larger height */
@media (min-height: 680px) {
  body {
    background-repeat: repeat;
  }
}

@media (max-width: 269px) {
  .game-card-3 {
    margin-top: 50px;
  }

  .avatar-card-3 {
    margin-top: 50px;
  }

  .about-us-card-3 {
    margin-top: 50px;
  }

  .card-3 {
    margin-top: 50px;
  }
}

@media screen and (max-width: 997px) and (min-width: 768px) {
  body {
    grid-template-rows: 220px 1fr 1fr;
  }
}

.avatar-card-3 {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  width: 100%;
  border-radius: 5px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.coins-container {
  grid-column: 1 / 2;
  grid-row: 1;
}

.current-avatar-container {
  grid-column: 1 / 2;
  grid-row: 2;
}

.avatars-container {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}

#avatars-label {
  font-family: "Rounded Mplus 1c";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  margin-bottom: 16px;
}

#avatars {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.coins-container,
.current-avatar-container {
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  font-family: "Rounded Mplus 1c";
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  grid-column: 1;
}

@media (max-width: 767px) {
  .avatar-card-3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  #avatars-label {
    font-family: "Rounded Mplus 1c";
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    margin-bottom: 16px;
  }

  .coins-container,
  .current-avatar-container,
  .avatars-container {
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    font-family: "Rounded Mplus 1c";
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    flex: 1;
    margin: 10px;
  }
}


#remaining-questions {
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  font-family: "Rounded Mplus 1c";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  grid-column: 1;
}

.coins-container-game,
.current-avatar-container-game {
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  font-family: "Rounded Mplus 1c";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
}